body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

h1 {
  color: #f2f7a1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #071952;
}
.content {
  height: 100%;
  background-color: #f2f7a1;
}
.main_content {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

input {
  width: 250px;
  height: 30px;
  background-color: #f2f7a1;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
input:focus {
  background-color: #071952;
  color: white;
}
label {
  font-weight: 600;
  font-size: larger;
}
.board_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  /* gap: 0px; */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 18px;
  /* font-size: 30px; */
  text-align: center;
}

.green-shadow {
  background-color: green;
  transition: background-color 0.3s;
}
.red-shadow {
  animation: redToGreen 1s forwards;
}
@keyframes redToGreen {
  0% {
      background-color: red;
  }
  100% {
      background-color: none;
  }
}
.ship {
  background-color: darkgray;
}

.board-pane-wrapper {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.board-buttons {
  /* padding-top: 5px; */
  /* border: 2px solid black; */
  width: 70px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.button {
  width: 60px;
  display: flex;
  text-align: center;
  /* border: 2px solid red; */
  /* background styles */
  position: relative;
  display: inline-block;
  /* padding: 15px 25px; */
  background-color: #088395; /*for compatibility with older browsers*/
  background-image: linear-gradient(#088395, #35A29F);

  /* text styles */
  text-decoration: none;
  color: #fff;
  /* font-size: 25px; */
  font-weight: 100;

  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  cursor: pointer;
}

.button:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}
.button:hover{
	background: linear-gradient(#35A29F,#071952);
}

.start-game{
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* letter-spacing: 25px; */
}